body {
  min-width: 300px;
  overflow-x: hidden;
  padding-bottom: 40px;
}

.container-fluid.wrapper {
  padding:10px 25px;
}
/* Table */
.table>thead>tr>th {
  vertical-align: middle;
  border-bottom: 1px solid #ddd;
  background: #5E7784;
  color: #fff;
  font-weight: 400;
}
/*Buttons*/
.btn-success, .btn-primary {
  border-radius: 0;
}
.btn-primary {
  color: #fff;
  background-color: #42A7A2;
  border-color: #3b9590;
}

.btn-primary.active, .btn-primary:active, .btn-primary:hover,.btn-primary:focus {
  background-color: #34827f;
  border-color: #296966;
  outline: none;
}

.btn-primary.disabled.focus, .btn-primary.disabled:focus, .btn-primary.disabled:hover, .btn-primary[disabled].focus, .btn-primary[disabled]:focus, .btn-primary[disabled]:hover, fieldset[disabled] .btn-primary.focus, fieldset[disabled] .btn-primary:focus, fieldset[disabled] .btn-primary:hover {
    background-color: #42A7A2;
    border-color: #3b9590;
}

.print-wrapper {
  position: fixed;
  bottom: 0;
}

.table {
  margin-bottom: 0;
}

.shipment-filer {
  margin: 10px 0;
  margin-top: 0px;
}

.form-control {
  border: 1px solid #ccc;
  border-radius: 0;
  box-shadow: none;
}

.form-control:focus {
    border-color: #42A7A2;
    outline: 0;
    box-shadow: none;
}

.alert {
  position: absolute;
  width: 98%;
  top: 3px;
  left: 1%;
  z-index: 999;
}

.btn:focus {
  outline: none;
}